extends layout

block content
	.jumbotron
	.container
		h1 #{title}
		p
			bla bla bla
		p
			a.btn.btn-primary.btn-lg(href='#', role='button') Leer más
	.container
		.row
			.col-md-4
				h2 Cabecera 1
				p
					bla bla bla
				p
					a.btn.btn-default(href='#', role='button') Ver Detalles
			.col-md-4
				h2 Cabecera 2
				p
					bla bla bla
				p
					a.btn.btn-default(href='#', role='button') Ver Detalles
			.col-md-4
				h2 Cabecera 3
				p
					bla bla bla
				p
					a.btn.btn-default(href='#', role='button') Ver Detalles